body {
    margin: 0;
    padding: 0;
}
:root{
    --images-gaps:10px;
    --logo-height:50px;
    --input-width:20vw;
}
.custom-curser{
    height: 40px;
    width: 40px;
    display: inline;
    border-radius: 50%;
    border-style: none;
    position: fixed;
    z-index: 200;
    background-color: hsla(0, 0%, 0%, 0.201);
    backdrop-filter: blur(2px);
    transition: transform 60ms ease-in-out ;
    top: 10vw;
    cursor:none;
    pointer-events: none;
    transform: translate(10vw,50%);
}
.all--img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px ;
    background: #0A1D33;
    color: #E1DADA;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.nav__logo{
    height: var(--logo-height);
    width: var(--logo-height);
    border-radius: 10px;
    border-style: none;
    overflow: hidden;
    padding: 5PX;
    background-color: rgba(240, 248, 255, 0.993);
}
.nav__logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    object-position: bottom;
    background-color: transparent;
}
.nav__links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.nav__links input{
    padding: 10px;
    width: var(--input-width);
    border-radius: 10px;
    border-style: none;
}
.nav__pages ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    font-family: math;
    font-size: large;
}
.nav__pages ul>li{
   padding: 5px;
   border-radius: 5px;
   border-style: none;
   &:hover{
    background-color: #e0e4e9;
    color:rgb(22, 20, 20);
   }
}
.Grid__container {
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
    position: relative;
}

.grid--red {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgba(255, 0, 0, 0.479);
    position: relative;
    overflow: hidden;
}

.grid--yellow {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgba(95, 158, 160, 0.623);
    position: relative;
    overflow: hidden;
}

.grid--green {
    background-color: rgba(0, 128, 0, 0.774);
    position: relative;
    overflow: hidden;
}

.grid--blue {
    background-color: rgba(0, 0, 255, 0.445);
    position: relative;
    overflow: hidden;
}
.grid--blue img , .grid--yellow img, .grid--green img, .grid--red img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     position: relative;
}
.main{
    height: auto;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns:repeat( 3,minmax(0px,1fr));
    gap: 10px;
    margin: 10px 0px;
    
}
.main__left{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    row-gap: 10px;
    position: relative;
}
.main__center{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    row-gap: 10px;
    position: relative;
}
.main__right{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    row-gap: var(--images-gaps);
    position: relative;
}
.main__image {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: bisque;
}
.main__image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.hamburger{
    display: none;

}
.carousle{
    display: flex;
    align-items: center;
    gap: 1px;
    width: 100%;
    position: relative;
    height: 60vh;
    overflow-y: hidden;
    overflow-x:auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    margin:5px 0px 5px  0px;

}
.box{
    flex-shrink: 0;
    flex-grow: 0;
    scroll-snap-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    scroll-snap-align: center;
}
.carousle__info{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousle__img{
    position: relative;
    height: 100%;
    width: 50%;
    background: rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(10px);
}
.carousle__info__box{
    height: 90%;
    width: 95%;
    padding: 5px;
    position: relative;
    background-color: #0a1d330d;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}
h1{
    margin: 0px;
    padding: 3px;
}
.h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
p{
    margin: 0px;
    padding: 3px;
}
.carousle--p{
    font-family: sans-serif;

}
.carousle--modern--btn{
    padding: 15px;
    /* width: 20vh; */
    background: rgb(0 0 0 / 35%);
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    backdrop-filter: blur(10px);
    color: aliceblue;
    font-family: math;
    font-size: larger;
}
.main_save_btn{
    padding: 5px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    height: fit-content;
    width: fit-content;
    z-index: 20;
    background-color: hsl(212.2deg 67.21% 11.96% / 23%);
    backdrop-filter: blur(10px);
    color: #e0e4e9;
    &:hover{
        background-color: #0A1D33;
        color: aliceblue;
    }
}
.image__btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 5px 0px;
    position: absolute;
    bottom: 5px;
    background-color: rgb(10 29 51 / 20%);
    backdrop-filter: blur(10px);
    width: 100%;
}
.img-btn{
    padding: 4px 6px;
    border-radius: 5px;
    border-style: none;
    background-color: #e0e4e9;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

@media (min-width:650px) and (max-width:1024px) {
    .carousle--modern--btn{
        padding: 10px;
        /* width: 20vh; */
        background: rgb(0 0 0 / 35%);
        border-radius: 10px;
        border-style: none;
        cursor: pointer;
        backdrop-filter: blur(10px);
        color: aliceblue;
        font-family: math;
        font-size: large;
    }
    .h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 23px;
    }
    .carousle--p{
        font-family: sans-serif;
        font-size: medium;
    }
}

@media  screen and (max-width:500px) {
    .nav__pages ul{
        display: none;
        align-items: center;
        justify-content: center;
        gap: 10px;
        list-style: none;
        font-family: math;
        font-size: large;
    }
    .nav__links input{
        padding: 10px;
        width: 40vw;
        border-radius: 10px;
        border-style: none;
    }
    .hamburger{
        display: block;
    }
    .h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
    }
    .carousle--p{
        font-family: sans-serif;
        font-size: small;
        display: none;
    }
    
    .carousle__info__box{
        height: 90%;
        width: 95%;
        padding: 5px;
        position: relative;
        background-color: hsla(205, 7%, 65%, 0.42);
        backdrop-filter: blur(20px);
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
    }
    .carousle--modern--btn{
        padding: 10px;
        /* width: 20vh; */
        background: rgb(0 0 0 / 35%);
        border-radius: 10px;
        border-style: none;
        cursor: pointer;
        backdrop-filter: blur(10px);
        color: aliceblue;
        font-family: math;
        font-size: large;
    }
}

@media (min-width:500px) and (max-width:650px) {
    .grid--red {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: rgba(255, 0, 0, 0.479);
    }

    .grid--yellow {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4;
        background-color: rgba(95, 158, 160, 0.623);
    }
    .nav__links input{
        padding: 10px;
        width: var(--input-width);
        border-radius: 10px;
        border-style: none;
    }
    .carousle--modern--btn{
        padding: 10px;
        /* width: 20vh; */
        background: rgb(0 0 0 / 35%);
        border-radius: 10px;
        border-style: none;
        cursor: pointer;
        backdrop-filter: blur(10px);
        color: aliceblue;
        font-family: math;
        font-size: large;
    }
    .h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
    }
    .carousle--p{
        font-family: sans-serif;
        font-size: small;
    }
    .carousle__info__box{
        height: 90%;
        width: 95%;
        padding: 5px;
        position: relative;
        background-color: hsla(205, 7%, 65%, 0.42);
        backdrop-filter: blur(20px);
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 3px;
    }

}

@media (min-width:425px) and (max-width:500px) {
    .grid--red {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: rgba(255, 0, 0, 0.479);
    }

    .grid--yellow {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: rgba(95, 158, 160, 0.623);
    }

    .grid--green {
        background-color: rgba(0, 128, 0, 0.774);
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .grid--blue {
        background-color: rgba(0, 0, 255, 0.445);
        grid-column-start: 2;
        grid-column-end: 5;
    }
    .main{
        height: auto;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns:repeat(2,minmax(0px,1fr));
        gap: 10px;
        margin: 10px 0px;
        
    }
}        
@media (min-width:320px) and (max-width:426px) {
.grid--red {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgba(255, 0, 0, 0.479);
    }
    .grid--yellow {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        background-color: rgba(95, 158, 160, 0.623);
    }
    .grid--blue {
        background-color: rgba(0, 0, 255, 0.445);
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end:3;
    }
    .main{
        height: auto;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns:repeat(2,minmax(0px,1fr));
        gap: 10px;
        margin: 10px 0px;
        
    }
}
@media screen and (max-width:320px){
.Grid__container {
    height: 100vh;
    width: 100%;
    display: grid;
    display: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 2px;
    
}
.grid--red {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgba(255, 0, 0, 0.479);
    }
    .grid--yellow {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: rgba(95, 158, 160, 0.623);
    }
    .grid--blue {
        background-color: rgba(0, 0, 255, 0.445);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end:4;
    }
    .main{
        height: auto;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns:repeat(1,minmax(0px,1fr));
        gap: 10px;
        margin: 10px 0px;
    }
    .h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
}
